@import 'tailwindcss';

@custom-variant dark (&:where(.dark *));

@theme {
  --breakpoint-phone: 320px;
  --breakpoint-tablet: 640px;
  --breakpoint-desktop: 1280px;
  /** 默认颜色 */
  --color-primary: #333;
  /** 鼠标hover颜色 */
  --color-primary-hover: #eee;
  /* 布局统一边框颜色（默认亮色主题），会配合 .dark 覆盖 */
  --color-layout-border: #e5e7eb; /* gray-200 */
  --color-app-bg: #f9fafb; /* gray-100 */
}

/* 主题相关：暗色模式下覆盖布局边框颜色 */
.dark {
  --color-layout-border: #4b5563; /* gray-600 */
  --color-primary: #fff;
  --color-primary-hover: #333;
  --color-app-bg: #1f2937; /* gray-900 */
}

body,
html,
#app {
  width: 100%;
  height: 100%;
}
