/* CSS Reset - 重置浏览器默认样式 */

/* 盒模型重置 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
